#app {
    background-color: #fff;
}

.algolia-highlight {
    background-color: #ee6e73;
    text-decoration: underline;
    color: #fff;
}

.consistent-padding {
    padding: 0 1.5rem 0 .75rem;
}
nav {
    background-color: #fff;
}
nav .input-field label.active i {
    color: #ee6e73;
}

.faceting-small-show {
    display: inherit;
}
.faceting-small-hide {
    display: inherit;
}

.responsive-faceting {
    display: inherit;
}
.responsive-faceting-button {
    display: none;
}

@media (max-width: 600px) {

    .faceting-small-show {
        display: inherit !important;
    }
    .faceting-small-hide {
        display: none !important;
    }

    .responsive-faceting {
        display: none;
    }
    .responsive-faceting-button {
        display: inherit;
    }

}